
<div >
    <div class="pt-5 text-center bg-body-tertiary">
      <div class="container pt-3">
        <h1 class="text-body-emphasis">Samuel Memorial </h1>
        <h1 class="text-body-emphasis"> Funeral Home</h1>
        <p class="col-lg-8 mx-auto lead">
          
        </p>
        <p class="col-lg-8 mx-auto lead">
          
        </p>
      </div>

<nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Twelfth navbar example">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/services" data-bs-toggle="dropdown" aria-expanded="false">Services</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/services">Services</a></li>
              <li><a class="dropdown-item" href="/planning">Planning Ahead</a></li>
         
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/grief">Grief and Healing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          
          
        </ul>
      </div>
    </div>
  </nav>
    </div>
  </div>

