<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Funeral Home</title>



  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">


  <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/features/">

  <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/carousel/">


  <link href="/public/assets/dist/css/bootstrap.min.css" rel="stylesheet">

  <link href="/public/css/carousel.css" rel="stylesheet">
</head>
<body >
  <header>


    <%- include('../partials/header') %>

  </header>
  <div class="container themed-container text-center">
  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img"style="background-image: url('https://images.unsplash.com/photo-1718081591976-64a345c4f92e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHx8');" width="100%" height="500px" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Example headline.</h1>
            <p class="opacity-75">Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="500px" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="500px" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>Some representative placeholder content for the third slide of this carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
  <div class="container px-4 py-5" id="featured-3">
   
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
       
        <h3 class="fs-2 text-body-emphasis">How can we help?</h3>
        <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font.</p>

          ​
          
          <p>This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div>
      <div class="feature col">
        
        <h3 class="fs-2 text-body-emphasis">Pre-planning</h3>
        <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font.</p>

          ​
          
          <p>This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div>
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://images.unsplash.com/photo-1718081591976-64a345c4f92e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHx8');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-2 mt-2 mb-4 display-6 lh-1 fw-bold">Immediate Need</h3>
            <p class=" mb-4  lh-1">We are available by phone 24 hours a day</p>
            <p class="text-center">(478) 986-6152</p>
            <p class="text-center">
              167 Dolly St.
          </p>
          <p class="text-center">
            Gray, GA 31032 
        </p>
      
        
            <ul class="d-flex list-unstyled mt-auto">
           
            
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small>ADDITIONAL WAYS TO CONTACT US></small>
              </li>
            </ul>
          </div>
        </div>
      </div>
   
    </div>
  </div>




  <div class="container mt-5">
    <hr class="my-4">
 
    <section class="section">
      <div class="container">
          <div class="row">
              <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                  <div class="page-wrapper">
                      <div class="blog-top clearfix">
                          <h4 class="pull-left">Events & Announcements <a href="#"><i class="fa fa-rss"></i></a></h4>
                      </div><!-- end blog-top -->

                      <div class="blog-list clearfix">
                          <div class="blog-box row">
                              <div class="col-md-2">
                                  
                                    <button type="button" class="btn btn-primary">August 7th</button>
                               
                              </div><!-- end col -->

                              <div class="blog-meta big-meta col-md-8 ">
                                  <h4><a href="tech-single.html" title="">Top 10 phone applications and 2017 mobile design awards</a></h4>
                                  <p>Aenean interdum arcu blandit, vehicula magna non, placerat elit. Mauris et pharetratortor. Suspendissea sodales urna. In at augue elit. Vivamus enim nibh, maximus ac felis nec, maximus tempor odio.</p>
                                  <small class="firstsmall"><a class="bg-orange" href="tech-category-01.html" title="">Gadgets</a></small>
                                  <small><a href="tech-single.html" title="">21 July, 2017</a></small>
                                  <small><a href="tech-author.html" title="">by Matilda</a></small>
                                  <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i> 1114</a></small>
                              </div><!-- end meta -->
                          </div><!-- end blog-box -->

                          <hr class="invis">

                          <div class="blog-box row">
                            <div class="col-md-2">
                              
                                  <button type="button" class="btn btn-primary">June 19th</button>
                         
                            </div><!-- end col -->

                            <div class="blog-meta big-meta col-md-8 ">
                                <h4><a href="tech-single.html" title="">Top 10 phone applications and 2017 mobile design awards</a></h4>
                                <p>Aenean interdum arcu blandit, vehicula magna non, placerat elit. Mauris et pharetratortor. Suspendissea sodales urna. In at augue elit. Vivamus enim nibh, maximus ac felis nec, maximus tempor odio.</p>
                                <small class="firstsmall"><a class="bg-orange" href="tech-category-01.html" title="">Gadgets</a></small>
                                <small><a href="tech-single.html" title="">21 July, 2017</a></small>
                                <small><a href="tech-author.html" title="">by Matilda</a></small>
                                <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i> 1114</a></small>
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->
                      

                         

                        
                       
                      </div><!-- end blog-list -->
                  </div><!-- end page-wrapper -->

                  <hr class="invis">

            
              </div><!-- end col -->

              <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                  <div class="sidebar">
                      <div class="widget">
                          <div class="banner-spot clearfix">
                            
                          </div><!-- end banner -->
                      </div><!-- end widget -->

                      <div class="widget">
                     
                          <div class="trend-videos">
                              <div class="blog-box">
                                <!-- end media -->
                                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
                                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                                    <h3 class=" mb-4 display-6 lh-1 fw-bold">Much longer title that wraps to multiple lines</h3>
                                    <ul class="d-flex list-unstyled mt-auto">
                                      <li class="me-auto">
                                        <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                                      </li>
                                      <li class="d-flex align-items-center me-3">
                                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                                        <small>Pakistan</small>
                                      </li>
                                      <li class="d-flex align-items-center">
                                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                                        <small>4d</small>
                                      </li>
                                    </ul>
                                  </div>
                                </div>

                             
                              </div><!-- end blog-box -->

                      
                  </div><!-- end sidebar -->
              </div><!-- end col -->
          </div><!-- end row -->
      </div><!-- end container -->
  </section>
</div>


<h2><%#  title %></h2>
<p><%# tagline %></p>

<p></p>




    


    
  
    <%- include('../partials/footer'); %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

<script src="https://cdn.jsdelivr.net/npm/contentful@latest/dist/contentful.browser.min.js"></script>
<script src="bundle.js"></script>
<script src="app.js"></script>
</html>